body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95vh;
    transition: transform 0.5s;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    
    transition: opacity 0.5s, transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(100vh);
}

.active {
    opacity: 1;
    transform: translateY(0);
}

h2 {
    font-size: 24px;
    margin-bottom: 5px;
}
h3 {
    margin-bottom: 3px;
}
img {
    width: 80%;
    height: 80%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}
p {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.bold {
    font-weight: bolder;
}

.tiny {
    font-size:10px;
}
.column {
    float: left;
    width: 16em;
}
.left {
    text-align: right;
}
.right {
    text-align: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer{
    text-align: center;
    opacity: 50%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px 0;
    z-index: 10;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
    }
    
    .column {
        float: none;
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }
    
    .left, .right {
        text-align: center;
    }
    
    img {
        width: 60%;
        height: auto;
        max-width: 200px;
        max-height: 200px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    p {
        font-size: 14px;
        line-height: 1.4;
    }
    
    .slide {
        padding: 20px 20px 60px 20px;
        box-sizing: border-box;
        justify-content: flex-start;
        padding-top: 10vh;
    }
    
    footer {
        font-size: 8px;
        padding: 3px 0;
    }
    
    main {
        height: 100vh;
        padding-bottom: 40px;
        box-sizing: border-box;
    }
}